extends layout

block content
    include navbar
    div.calendar
        table.striped.highlight.pd8
            thead
                tr
                    th.center-align(data-field="sun") 일
                    th.center-align(data-field="mon") 월
                    th.center-align(data-field="tue") 화
                    th.center-align(data-field="wed") 수
                    th.center-align(data-field="thu") 목
                    th.center-align(data-field="fri") 금
                    th.center-align(data-field="sat") 토
            tbody
                tr
                    td 1
                    td 2
                    td 3
                    td 4
                    td 5
                    td 6
                    td 7
                tr
                    td 1
                    td 2
                    td 3
                    td 4
                    td 5
                    td 6
                    td 7
                tr
                    td 1
                    td 2
                    td 3
                    td 4
                    td 5
                    td 6
                    td 7
                tr
                    td 1
                    td 2
                    td 3
                    td 4
                    td 5
                    td 6
                    td 7
                tr
                    td 1
                    td 2
                    td 3
                    td 4
                    td 5
                    td 6
                    td 7