extends layout

block content
  script(type='text/javascript').
    $(document).ready(function(){
      $("#dataroom").addClass('active');
    });
  ul.collapsible.popout(data-collapsible='accordion')
    each obj, i in res
      li
        .collapsible-header
          i.material-icons filter_drama
          | #{obj.folder}
        .collapsible-body
          div.collection
            each file in obj.files
              div.collection-item
                a(href='/download?where=' + "#{file.path}", target='_self') #{file.name}