footer.page-footer#siis_color
	.container.siis_color
		.row
			.col.l6.s12
				h5.white-text Footer Content
				p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content.
			.col.l4.offset-l2.s12
				h6.white-text Site Map
					ul
						li
							a.grey-text.text-lighten-3(href='http://siis.hanyang.ac.kr/') 학과 홈페이지
						li
							a.grey-text.text-lighten-3(href='http://www.hanyang.ac.kr/') HANYANG UNIV.
						li
							a.grey-text.text-lighten-3(href='https://portal.hanyang.ac.kr/') HY-in
						li
							a.grey-text.text-lighten-3(href='http://www.weehan.com/') Wee-Han
		.footer-copyright
			.container
			| © 2016 Copyright siis-student-council
			a.grey-text.text-lighten-4.right(href='/') More Links