footer.page-footer#siis_color
  .container.siis_color
    h5.white-text 운영진 및 에디터 모집
    p.grey-text.text-lighten-4 한양대학교 산업융합학부 15학번 아지트를 이끌어갈 운영진을 모집합니다. TEL) 010-3931-3707, KAKAO) gogo747
  .footer-copyright
    .container
      | © 2016 Copyright siis-student-council