doctype html
html
  head
    title= title		
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js')
  body
    include navbar
    main
      script(src='scripts/gate.js')
      .parallax-container
        .parallax
          img.center-align(src="images/parallax/93f4dae04356a8b.png")  
      .section.white
        .row.container
          h4.header 초대합니다
          p.grey-text.text-darken-3.lighten-3
            | 학생회에서 알려드립니다.</br>
            | 김소리학우님이 2월 11일(토)에 백년가약을 맺습니다.</br>
            | 특별하고 희망찬 출발에 많은 축하로 응원해주시기 바랍니다.
        .row.container
          blockquote
            p
              | 일시: 2017년 2월 11일(토) 오후 2시</br>
              | 장소: 회기역 웨딩헤너스 7층 씨엘로홀
            div
              a(href='http://www.mgcard.net/mcard/?_mc=1483282136') 모바일 청첩장
      //.parallax-container
        .parallax
          img(src="images/parallax/224eb2be00966c7.png")  
    include footer
