nav(role='navigation').siis_color
  .nav-wrapper
    a.brand-logo(href='/') 한양대 산업융학학부
      ul#nav-mobile.right.hide-on-med-and-down
        li.active
          a(href='/')
            i.material-icons.right announcement
            | 공지
        li
          a(href='/vote')
            i.material-icons.right web
            | 투표
        li
          a(href='/calendar')
            i.material-icons.right av_timer
            | 일정
        li
          a(href='/bambooforest')
            i.material-icons.right chat
            | 대나무숲
        li
          a(href='/dataroom')
            i.material-icons.right system_update_alt
            | 자료실