extends layout

block content
  include navbar
  nav(role='navigation').siis_color
    .nav-wrapper
      .col.16.s12
        a.breadcrumb.margin_16px(href='/') Home
        a.breadcrumb(href='#!') 공지사항
  h4 #{Title}
  p #{Date}
  div.chip
    - var i = locals.RandomRange(0, 1);
      img(src=(i % 2 == 0) ? "images/user_male-128.png" : "images/user_male3-128.png")
      | #{Author}  
  div.divider
  div.card-panel
    p.flow-text #{message}
  span
    a.btn-floating.btn-large.waves-effect.waves-light.red
      i.material-icons thumb_up
    span 
    | 
    a.btn-floating.btn-large.waves-effect.waves-light.amber
      i.material-icons thumb_down
    span 
    | 
    a.btn-floating.btn-large.waves-effect.waves-light.lime
      i.material-icons thumb_down
    span 
    | 
    a.btn-floating.btn-large.waves-effect.waves-light.blue
      i.material-icons thumb_down
    