extends layout

block content
  nav(role='navigation').siis_color
    .nav-wrapper
      .col.16.s12
        a.breadcrumb.margin_16px(href='/') Home
        a.breadcrumb(href='#!') 공지사항
    div.container
      div.chip
        - var i = locals.RandomRange(0, 1);
          img(src=(i % 2 == 0) ? "images/user_male-128.png" : "images/user_male3-128.png")
          | Author
      div
        #{message}