ul.list-type-none.siis_color
  li.horizontal
    a.white-text(href='/login')
      i.material-icons.mgt16 settings_power
      | 로그인
ul.list-type-none
  li#notice
    a(href='/index')
      i.material-icons.right announcement
      | 공지
  //li#vote
    a(href='/vote')
      i.material-icons.right web
      | 투표
  //li#calendar
    a(href='/calendar')
      i.material-icons.right av_timer
      | 일정
  //li#bambooforest
    a(href='/bambooforest')
      i.material-icons.right chat
      | 대나무숲
  li#dataroom
    a(href='/dataroom')
      i.material-icons.right system_update_alt
      | 자료실