div.row
    div.col.s12.m6.l3.pull-s12
        a.grey-text.text-lighten-3(href='http://siis.hanyang.ac.kr/') 학과 홈페이지
    div.col.s12.m6.l3.pull-s12
        a.grey-text.text-lighten-3(href='http://www.hanyang.ac.kr/') HANYANG UNIV.
    div.col.s12.m6.l3.pull-s12
        a.grey-text.text-lighten-3(href='https://portal.hanyang.ac.kr/') HY-in
    div.col.s12.m6.l3.pull-s12
        a.grey-text.text-lighten-3(href='http://www.weehan.com/') Wee-Han