# Dependency directories
Client/Library/

# Typescript v1 declaration files
siis/typings/

# vs tmp, build files
.vs/
*/obj/
*/bin/
.ntvs_analysis.dat
*.suo
*.sdf
*.njsproj

# vim tmp file
*.swp

# dummy file
siis/public/html/

# data file
siis/private/dataroom/