/* padding-right */
.pdr2 { padding-right: 2px; }
.pdr4 { padding-right: 4px; }
.pdr8 { padding-right: 8px; }
.pdr16 { padding-right: 16px; }
.pdr32 { padding-right: 32px; }
.pdr48 { padding-right: 48px; }
.pdr64 { padding-right: 64px; }

/* padding-left */
.pdl2 { padding-left: 2px; }
.pdl4 { padding-left: 4px; }
.pdl8 { padding-left: 8px; }
.pdl16 { padding-left: 16px; }
.pdl32 { padding-left: 32px; }
.pdl48 { padding-left: 48px; }
.pdl64 { padding-left: 64px; }

/* padding-horizontal */
.pdh2 { padding-left: 2px; padding-right: 2px; }
.pdh4 { padding-left: 4px; padding-right: 4px; }
.pdh8 { padding-left: 8px; padding-right: 8px; }
.pdh16 { padding-left: 16px; padding-right: 16px; }
.pdh32 { padding-left: 32px; padding-right: 32px; }
.pdh48 { padding-left: 48px; padding-right: 48px; }
.pdh64 { padding-left: 64px; padding-right: 64px; }

/* padding-bottom */
.pdb2 {	padding-bottom: 2px; }
.pdb4 { padding-bottom: 4px; }
.pdb8 { padding-bottom: 8px; }
.pdb16 { padding-bottom: 16px; }
.pdb32 { padding-bottom: 32px; }
.pdb48 { padding-bottom: 48px; }
.pdb64 { padding-bottom: 64px; }

/* padding-top */
.pdt2 { padding-top: 2px; }
.pdt4 { padding-top: 4px; }
.pdt8 { padding-top: 8px; }
.pdt16 { padding-top: 16px; }
.pdt32 { padding-top: 32px; }
.pdt48 { padding-top: 48px; }
.pdt64 { padding-top: 64px; }

/* padding */
.pd2 { padding: 2px; }
.pd4 { padding: 4px; }
.pd8 { padding: 8px; }
.pd16 { padding: 16px; }
.pd32 { padding: 32px; }
.pd48 { padding: 48px; }
.pd64 { padding: 64px; }


/* margin-right */
.mgr2 { margin-right: 2px; }
.mgr4 { margin-right: 4px; }
.mgr8 { margin-right: 8px; }
.mgr16 { margin-right: 16px; }
.mgr32 { margin-right: 32px; }
.mgr48 { margin-right: 48px; }
.mgr64 { margin-right: 64px; }

/* margin-left */
.mgl2 { margin-left: 2px; }
.mgl4 { margin-left: 4px; }
.mgl8 { margin-left: 8px; }
.mgl16 { margin-left: 16px; }
.mgl32 { margin-left: 32px; }
.mgl48 { margin-left: 48px; }
.mgl64 { margin-left: 64px; }

/* margin-bottom */
.mgb2 { margin-bottom: 2px; }
.mgb4 { margin-bottom: 4px; }
.mgb8 { margin-bottom: 8px; }
.mgb16 { margin-bottom: 16px; }
.mgb32 { margin-bottom: 32px; }
.mgb48 { margin-bottom: 48px; }
.mgb64 { margin-bottom: 64px; }

/* margin-top */
.mgt2 { margin-top: 2px; }
.mgt4 { margin-top: 4px; }
.mgt8 { margin-top: 8px; }
.mgt16 { margin-top: 16px; }
.mgt32 { margin-top: 32px; }
.mgt48 { margin-top: 48px; }
.mgt64 { margin-top: 64px; }

/* margin */
.mg2 { margin-top: 2px; }
.mg4 { margin-top: 4px; }
.mg8 { margin-top: 8px; }
.mg16 { margin-top: 16px; }
.mg32 { margin-top: 32px; }
.mg48 { margin-top: 48px; }
.mg64 { margin-top: 64px; }


/* Screen Range */
@media only screen and (min-width: 601px){.right-on-med-and-up{text-align: right }}
@media only screen and (max-width: 992px){.center-on-med-and-down{text-align: center }}

.description {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.list-type-none {
    list-style: none;
	list-style-type: none;
}
.horizontal {
	display: inline;
}

a.menu {
	color: #333333;
}

/* align */
.align_center { text-align: center; }
.align_right { text-align: right; }
.align_left { text-align: left; }
.vertical_align_middle { vertical-align: middle; }

/* color */
#siis_color { background-color: #2F4D73 !important; }
.siis_color { background-color: #2F4D73 !important; }

.siis-text {
    color: #2F4D73 !important;
}

.siis.btn {
    color: #ffffff !important;
    background-color: #2F4D73 !important;
}

/* size */
.fill_parent_width { width: 100%; }
.fill_parent_height{ height: 100%; }
.fill_parent { width:100%; height:100%; }

.nav-wrapper { position: absolute; width:100%; }

.fixed_width {
  width: 940px;
  margin: 0 auto;
  text-align: center;
}

/* etc */
.overlay {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:#fff;
    opacity:0.8;
    z-index:1001;
}
.overlay-message{
    position: fixed;
    top:30px;
    left:30px;
    width:400px;
    height:250px;
    background-color:#fff;
    opacity:1;
    z-index:1002;
}

.calendar table tbody td {
    min-height: 81px;
    height: 81px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

/*
div { display:inline; }
#main {
  width: 940px;
  margin: 0 auto; 
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.container {
    width: 100%;
}
*/